extends ./base/baseadmin
block vars
    - var tittle = "Login"
block body
  button#btnAddUser.floating.mdl-button.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect.mdl-button--colored
    i.material-icons.especial_material-icons add
  .container.pad_50
      button.mar_top_50.mar_left.btn.btn-warning#reporte Generar Reporte
      .row
        table.table.table-striped.table-bordered.mar_top_50
          thead
            tr
              th Nombre
              th Correo
              th # Descargas
              th Opción
          tbody
              if data
                each us in data.usuarios
                  tr
                    td= us.nombre
                    td= us.correo
                    td= us.desc
                    td(width='250')
                      a.btn(href='/admin/action?id='+us.idusuarios+'&action=1')
                          i.material-icons visibility
                      a.btn(href='/admin/action?id='+us.idusuarios+'&action=2')
                        i.material-icons cached
                      a.btn.delete
                        i.material-icons(valid=us.idusuarios) delete_forever
                      a.btn.state
                        if (us.onair == 0)
                          i.material-icons(onair="0" valid=us.idusuarios) check_box_outline_blank
                        else
                          i.material-icons(onair="1" valid=us.idusuarios) check_box
                      

